.boke {
  --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1);

  opacity: 0;
  filter: blur(1em);
  scale: 1.1;

  &.isActive {
    opacity: 1;
    filter: blur(0);
    scale: 1;
    transition:
      scale 1s var(--ease-out-quart),
      opacity 1s var(--ease-out-quart),
      filter 1.4s var(--ease-out-quart);
  }
}
