* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 48px;
  font-family: "Shippori Mincho", serif;
  background-color: #494039;
}

.container {
  width: 100%;
  max-width: 640px;
  min-height: 200vh;
  padding-top: 70vh;
  margin: 0 auto;
  container-type: inline-size;
}

.imageAndHeadline {
  position: relative;
}

.image {
  display: block;
  width: 60cqw;
  max-width: 480px;
  height: auto;

  img {
    width: 100%;
    height: auto;
  }
}

.text {
  position: absolute;
  top: 15%;
  left: 45%;
  width: 50cqw;
}

.hidden {
  opacity: 0;
}

.headline {
  margin-bottom: 0.7em;
  font-size: 5.8cqw;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.05em;
}

.description {
  width: 90%;
  font-size: 1.8cqw;
  line-height: 1.7;
  color: #fff;
  letter-spacing: 0.05em;
}

.divide {
  display: grid;
  grid-template-columns: 50% 50%;
  max-width: 640px;
  margin: 0 auto;
}

.compareTitle {
  position: relative;
  top: -20cqw;
  height: 0;
  font-size: 20px;
  color: #fff;
}

.resetButton {
  padding: 6px 16px;
  margin-top: 48px;
  font-family: "Shippori Mincho", serif;
  color: #fff;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0;
}

.indexList {
  max-width: 720px;
  padding-top: 48px;
  margin: 0 auto;
  list-style: none;

  li {
    margin: 1em 0;
  }

  a {
    font-size: 24px;
    color: #fff;
  }
}
